.clothes{
    display: flex;
    gap: 160px;
    max-width: 50px;
    max-height: 50px;
      text-decoration: none;
  color: black;


}

.brownShoe {
    display: block;
    padding-left: 160px;
}

.clothes img {
    display: block;
    max-height: 300px;
    max-width: auto;
 } 

 .accessories {
      display: flex;
      gap: 160px;
      max-width: 50px;
      max-height: 50px;
        text-decoration: none;
  color: black;


 }

 .bunny {
    display: block;
    padding-left: 160px;
}   

.accessories a {
    text-decoration: none;
  color: black;

}
