a {
    text-decoration: none;
    color: black;
}

.clothes,
.accessories {
    display: flex;
    gap: 160px;
}

.brownShoe{
    display: block;
    margin-left: 160px;
    margin-top: 130px;
}
.bunny {
    display: block;
    margin-left: 160px;
    margin-top: 90px;
}

.ties {
    margin-top: 30px;
}

.clothes img,
.accessories img {
    display: block;
    max-height: 300px;  
    height: auto;
    width: auto;
}

.accessories a,
.clothes a {
    text-decoration: none;
    color: black;
}

